<!-- PAGINA INICIAL -->
<div>
    <p class="tela-informativa">Tela Inicial</p>
    <main class="container-principal">
        <h2 class="subTitulo">Conquiste o sonho da casa própria</h2>
        <div class="container-textoHome">
            <p class="texto-home">Em apenas alguns passos fique mais perto de</p>
            <p class="texto-home"> segurar as chaves :)</p>
        </div>
        <button ng-click="telaProponente()" type="button" class="btn btn-primary btn-sm btnGeral">SIMULAR
            FINANCIAMENTO</button>

    </main>
</div>