<!-- REPROVADO -->
<p>Reprovado</p>
<main>
    <div>
        <p>Proposta Nº 00001</p>
    </div>
    <div>
        <img src="" alt="imagem com o status de aprovado">
        <p> STATUS: REPROVADO</p>
    </div>
    <div>
        <div>
            <p> Infelizmente não foi possível aprovar seu financiamento.</p>
            <p>Não desanime, reunimos dicas que podem ajudar na sua próxima simulação:</p>
        </div>
        <ul>
            <li> Mantenha seu CPF em dia e sem restrições.</li>
            <li> Dados de endereço, e-mail, telefone sempre atualizados.</li>
            <li> Melhore seu relacionamento com o banco, movimentando sua conta</li>

        </ul>
        <button ng-click="telaInicial()" type="button" class="btn btn-primary btn-sm btnGeral">IR PARA A TELA INICIAL</button>


    </div>
</main>