<!-- DADOS DO PROPONENTE -->
<p class="tela-informativa">Dados do proponente </p>
<form name="dadosProponente" class="dadosProponente container-form">
    <div class="container container-forms">
        <div class="row">

            <!-- nome completo -->
            <div class="col-4 col-sm-6 col-12 col-lg-4">
                <label for="nomeCompleto" class="form-label">Nome completo</label>
                <input type="text" id="nome" name="nomeCompleto" minlength="3" ng-required="true" class="form-control"
                    placeholder="Nome completo" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$"
                    ng-model="proponente.nomeCompleto" ng-model-options="{ getterSetter: true }" aria-label="">
                <div class ng-show="dadosProponente.nomeCompleto.$invalid && dadosProponente.nomeCompleto.$dirty">
                    Preencha com seu nome completo</div>
            </div>


            <!-- profissão -->
            <div class="col-4 col-sm-6 col-6 col-lg-4">
                <label for="profissao" class="form-label">Profissão</label>
                <input type="text" id="profissao" name="profissao" ng-required="true" class="form-control"
                    placeholder="Profissão" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$"
                    ng-model="proponente.profissao" aria-label="">
                <div class ng-show="dadosProponente.profissao.$invalid && dadosProponente.profissao.$dirty">
                    Preencha com a sua profissão</div>
            </div>

            <!-- cpf -->
            <div class="col-4 col-sm-6 col-6 col-lg-4">
                <label for="cpf" class="form-label">CPF</label>
                <input ng-change="" type="text" id="cpf" name="cpf" ng-required="true" class="form-control" placeholder="CPF"
                    pattern="" ng-model="proponente.cpf" aria-label="" minlength="14" maxlength="14"> 
                <div class ng-show="dadosProponente.cpf.$invalid && dadosProponente.cpf.$dirty">
                    Preencha com o seu CPF</div>
            </div>

            <!-- e-mail -->
            <div class="col-4 col-sm-6 col-12 col-lg-4">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" id="email" name="email" ng-required="true" class="form-control" placeholder="E-mail"
                    ng-model="proponente.email" aria-label="" pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$">
                <div class ng-show="dadosProponente.email.$invalid && dadosProponente.email.$dirty">Preencha um e-mail
                    válido</div>
            </div>

            <!-- data de nascimento -->
            <div class="col-4 col-sm-6 col-6 col-lg-4">
                <label for="aniversario" class="form-label">Data de nascimento</label>
                <input type="date" id="aniversario" ng-required="true" name="aniversario" class="form-control"
                    placeholder="Data de nascimento" ng-model="proponente.aniversario">
                <div class ng-show="dadosProponente.aniversario.$invalid && dadosProponente.aniversario.$dirty">Preencha
                    com
                    sua data de nascimento
                </div>
            </div>
            <!-- cep -->
            <div class="col-4 col-sm-6 col-6 col-lg-4">
                <label for="cep" class="form-label">CEP</label>
                <input type="text" id="cep" ng-required="true" name="cep" pattern="" minlength="9" maxlength="9"
                    class="form-control" placeholder="CEP" ng-model="proponente.cep" name="cep" aria-label="">
                <div class ng-show="dadosProponente.cep.$invalid && dadosProponente.cep.$dirty">O CEP deve ter 9
                    dígitos"
                </div>
            </div>

            <!-- celular -->
            <div class="col-4 col-sm-6 col-6 col-lg-4 ">
                <label for="celular" class="form-label">Celular</label>
                <input type="text" id="celular" name="celular" ng-required="true" class="form-control"
                    placeholder="Celular" pattern="" ng-model="proponente.celular" minlength="13" maxlength="13"
                    aria-label="">
                <div class ng-show="dadosProponente.celular.$invalid && dadosProponente.celular.$dirty">Preencha com seu
                    celular</div>
            </div>

        </div>
        <!-- botao -->
        <div class="button-proponente">
            <button ng-click="telaInicial()" type="button"
                class="btn btn-primary btn-sm btnProp-imovel ">CANCELAR</button>
            <button ng-click="telaimovel()" type="button" class="btn btn-primary btn-sm btnProp-imovel"
                ng-disabled="dadosProponente.$invalid">CONTINUAR</button>

        </div>

    </div>



</form>