<!-- DADOS DO PROPONENTE -->
<!-- {{titulo}} -->
<div>   
    <p>Dados do proponente</p>
    <main class="container-principal">
        <form class="row g-3">
            <div class="col-md-4">
                <label for="nome" class="form-label"></label>
                <input type="text" class="form-control" id="validationDefault01" value="" required
                    placeholder="Nome completo">
            </div>
            <div class="col-md-4">
                <label for="nome" class="form-label"></label>
                <input type="text" class="form-control" id="validationDefault01" value="" required
                    placeholder="Profissão">
            </div>
            <div class="col-md-4">
                <label for="nome" class="form-label"></label>
                <input type="text" class="form-control" id="validationDefault01" value="" required placeholder="CPF">
            </div>
            <div class="col-md-4">
                <label for="nome" class="form-label"></label>
                <input type="text" class="form-control" id="validationDefault01" value="" required
                    placeholder="teste@g">
            </div>
            <div class="col-md-4">
                <label for="nome" class="form-label"></label>
                <input type="text" class="form-control" id="validationDefault01" value="" required
                    placeholder="Data de nascimento">
            </div>
            <div class="col-md-4">
                <label for="nome" class="form-label"></label>
                <input type="text" class="form-control" id="validationDefault01" value="" required
                    placeholder="00000-000">
            </div>
            <div class="col-md-4">
                <label for="nome" class="form-label"></label>
                <input type="text" class="form-control" id="validationDefault01" value="" required
                    placeholder="Celular">
            </div>        
          
            <div class="buttons-dados-do-proponentes">               
                <button type="button" class="btn btn-primary btn-sm ">CANCELAR</button>
                <button ng-click="telaImovel()" type="button" class="btn btn-primary btn-sm ">CONTINUAR</button>                
            </div>
        </form>
    </main>
</div>