<!-- APROVADO -->
<!-- {{titulo}} -->
<div>
    <p>Aprovado</p>
<main class="container-principal">
    <div>
        <p>Proposta Nº 00001</p>
    </div>
    <div>
        <img src="" alt="imagem com o status de aprovado">
    </div>
    <div>
        <ul>
            <li> Taxa de 8% ao ano para correntistas</li>
            <li> Taxa de 10% ao ano para não correntistas</li>
            <li> Parcela inicial R$ {{dadosDoImovel.parcelaInicial}}</li>
            <li>Valor total aprovado: R$ {{dadosDoImovel.valorTotalAprovado}}</li>
            <li>Seguro Só Vamu Security</li>
            <li>Desconto na primeira e na última parcela</li>
        </ul>
        <button ng-click="telaInicial()"type="button" class="btn btn-primary btn-sm">IR PARA A TELA INICIAL</button>
    </div>
</main>
</div>
