<!-- DADOS DO IMÓVEL -->
<!-- {{titulo}} -->

<p class="tela-informativa">Dados do Imóvel </p>
<form name="dadosImovel" class="dadosImovel container-form">
<div class="container">
    <div class="row">

        <!-- tipo de imovel -->
        <div class= "col-4 col-sm-6 col-6 col-lg-4">
            <label for="tipoImovel" class="form-label"></label>
            <select class="form-control" ng-model="imovel.tipo" name="tipoImovel"
                ng-options="listaImoveis for listaImoveis in tipo" ng-required="true">
                <option value="">Tipo do Imóvel</option>
            </select>
        </div>

        <!-- valor da renda -->
        <div class="col-4 col-sm-6 col-6 col-lg-4">
            <label for="rendaImovel" class="form-label"></label>
            <input type="text" id="rendaImovel" name="rendaImovel" ng-required="true" class="form-control"
                placeholder="Renda mensal" ng-model="imovel.rendaImovel" aria-label="" mask-currency="'R$'"
                config="{group:'.',decimal:',',indentation:' '}" class="form-control">
            <div class ng-show="dadosImovel.rendaImovel.$invalid && dadosImovel.rendaImovel.$dirty">Preencha com a sua
                renda mensal</div>
        </div>

        <!-- valor do imóvel -->
        <div class="col-4 col-sm-6 col-6 col-lg-4">
            <label for="valorImovel" class="form-label"></label>
            <input ng-change="validaEntrada()" type="text" id="valorImovel" name="valorImovel" ng-required="true" 
                class="form-control" placeholder="Valor do imóvel"ng-model="imovel.valorImovel"
                aria-label="" >
                <div class ng-show="dadosImovel.valorImovel.$invalid && dadosImovel.valorImovel.$dirty">Preencha com o valor
                do imóvel desejado</div>
        </div>
 
        <!-- valor da entrada -->       
        <div class="col-4 col-sm-6 col-6 col-lg-4">
            <label for="valorEntrada" class="form-label"></label>
            <input ng-change="validaEntrada()" type="text" id="valorEntrada" name="valorEntrada"
                 ng-required="true" class="form-control" placeholder="Valor da entrada"
                ng-model="imovel.valorEntrada" aria-label="" >              
            <div class ng-show="dadosImovel.valorEntrada.$invalid && dadosImovel.valorEntrada.$dirty || inputValorEntrada < resulCalculo" >Preencha com no
                mínimo 20% do valor do imóvel.</div>
        </div>


        <!-- quantidade de parcelas -->
        <div class="col-4 col-sm-6 col-6 col-lg-4">
            <label for="quantdParcelas" class="form-label"></label>
            <input type="number" id="quantdParcelas" min="1" max="360" pattern="[0-9]+$" name="quantdParcelas"
                ng-required="true" class="form-control" placeholder="Em quantas parcelas deseja parcelar?"
                ng-model="imovel.parcelas" aria-label="">
            <div class ng-show="dadosImovel.quantdParcelas.$invalid && dadosImovel.quantdParcelas.$dirty">Preencha com
                no máximo 360 parcelas</div>
        </div>

    </div>

    <!-- botão -->
    <div class="button-imovel">
        <div class=" d-flex justify-content-sm-between">
            <button ng-click="telaProponente()" type="button"
                class="btn btn-primary btn-sm btnProp-imovel ">VOLTAR</button>
            <button ng-click="calculaSimulacao()" type="button" class="btn btn-primary btn-sm btnProp-imovel "
                ng-disabled="dadosImovel.$invalid">SIMULAR</button>
        </div>

    </div>

    </div>
</form>