<!-- Modal -->
<div
  class="modal fade" ng-controller="historicoModalController" id="exampleModal" tabindex="-1"aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <!-- icone impressora -->
        <svg onclick="window.print()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16"
        >
          <path
            d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"
          />
          <path
            d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"
          />
        </svg>
        <!-- dados do proponente -->
        <table class="table">
          <thead>
            <p>Dados do proponente</p>

            <tr>
              <th scope="col">Nome do proponente</th>
              <th scope="col">Profissão</th>
              <th scope="col">CPF</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <th scope="row">1</th> -->
              <td>{{buscaDadosLista.proposta.proponente.nomeCompleto}}</td>
              <td>{{buscaDadosLista.proposta.proponente.profissao}}</td>
              <td>{{buscaDadosLista.proposta.proponente.cpf}}</td>
            </tr>

            <tr>
              <th scope="col">Email do proponente</th>
              <th scope="col">Data de nascimento</th>
              <th scope="col">CEP</th>
            </tr>
            <tr>
              <!-- <th scope="row">3</th> -->
              <!-- <td colspan="2">Larry the Bird</td> -->
              <td>{{buscaDadosLista.proposta.proponente.email}}</td>
              <td>{{buscaDadosLista.proposta.proponente.aniversario}}</td>
              <td>{{buscaDadosLista.proposta.proponente.cep}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />

        <!-- dados do imóvel -->
        <table class="table">
          <thead>
            <p>Dados do imóvel</p>
            <tr>
              <th scope="col">Tipo do imóvel</th>
              <th scope="col">Renda mensal</th>
              <th scope="col">Valor do Imóvel</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <th scope="row">1</th> -->
              <td>{{buscaDadosLista.proposta.imovel.tipo}}</td>
              <td>{{buscaDadosLista.proposta.imovel.rendaImovel}}</td>
              <td>{{buscaDadosLista.proposta.imovel.valorImovel}}</td>
            </tr>

            <tr>
              <th scope="col">Valor da Entrada</th>
              <th scope="col">Número de parcelas</th>
              <th scope="col"></th>
            </tr>
            <tr>
              <!-- <th scope="row">3</th> -->
              <!-- <td colspan="2">Larry the Bird</td> -->
              <td>{{buscaDadosLista.proposta.imovel.valorEntrada}}</td>
              <td>{{buscaDadosLista.proposta.imovel.parcelas}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <br />
        <br />

        <!-- dados do financiamento -->
        <table class="table">
          <thead>
            <p>Dados do financiamento</p>
            <tr>
              <th scope="col">Taxa ao ano</th>
              <th scope="col">Valor total financiado</th>
              <th scope="col">Valor total com juros</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <th scope="row">1</th> -->
              <td>10%</td>
              <td>{{buscaDadosLista.proposta.imovel.valorImovel-buscaDadosLista.proposta.imovel.valorEntrada}}</td>
              <td>teste</td>
            </tr>

            <tr>
              <th scope="col">Valor da primeira parcela</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            <tr>
              <!-- <th scope="row">3</th> -->
              <td>{{parcelaInicial}}</td>
              <td>{{buscaDadosLista.proposta.statusDaSimulacao}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
