<!-- LISTA DE PROPOSTA COM DADOS -->

<p class="tela-informativa">Histórico de propostas</p>
<div class="table-responsive-sm  container-principal ">
    <table class="table ">
        <thead class="cabecalho-formList">
            <tr>
                <th scope="col">Nome do Proponente</th>
                <th scope="col">Data da simulação</th>
                <th scope="col">Valor total do imóvel</th>
                <th scope="col">Número de parcelas</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Botão para acionar modal -->
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
                Abrir modal de demonstração
            </button> -->
            <tr ng-repeat="proposta in propostas">
                <td>{{proposta.proponente.nomeCompleto}}</td>
                <td>{{proposta.data  | date:'dd/MM/yyyy h:mm'}}</td>
                <td>{{proposta.imovel.valorImovel |currency : 'R$'}}</td>
                <td>{{proposta.imovel.parcelas}} parcelas</td>
                <td ng-click="propostaSelecionada(proposta)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-eye-fill " data-bs-toggle="modal" data-bs-target="#exampleModal" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                        <path
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                    </svg>
                </td>
                <td ng-click="propostaSelecionada(proposta)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#excluirModal">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg>
                </td>

            </tr>

        </tbody>
    </table>

</div>

